<div class="border border-light p-3 mb-4"> 
            <div class="text-center">
                <a class="btn btn-success btn-lg" style="text-align: center;" id="login" asp-area="Identity" asp-page="/Account/Login" >Đăng nhập</a>
            </div>   
</div>      