@page
@model BakeryProj.Pages.Admin.CartPage.OrderSuccessModel
@{
    Layout = "_Layout2";
}
<title>Đặt hàng thành công</title>
<h1>Đặt hàng thành công</h1>
<div class="message order-success">
    <h2>Cảm ơn bạn đã ủng hộ</h2>
    <br />
    <div style="text-align: center;"><img src="/images/dog.jpg" style="width: 20%; height: 20%; " /></div>
</div>