@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Đăng nhập</title>
</head>
<style>
.login-img{
  width: 85%;
  height: 70%;
  border-radius: 50%;
  margin-top: 5%;
  margin-left: 10%;
}
 #login-container{
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 5px;
  margin: center;
  padding-top: 2%;
  background-color: #99FFFF;

} 
.ask{
  float: right;
}
.modal-content{
  border-radius: 5%;
}
#form-login{
  padding: 10px;
}
label{
  font-weight: bold;
  color: black;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
</style>
<div class="container" id="login-container">
    <section>
        <div class="row" id="login-row"> 
            <div class="col-sm-6" id="form-login">
                <form id="account" method="post">
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                            <p>
                                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                            </p>
                            <p>
                                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                            </p>
                        </div>
                </form>
            </div>
            <div class="col-6 w-100">
                <img src="/images/Products/cake2.jpg" alt="cake" class="login-img"> 
            </div>  
        </div>
        </section>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
